<html>

<head>
    <title>
        Pension Fund
    </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/login.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/fonts.css') }}">
</head>

<body style="background-image: linear-gradient(90deg, #ffffff, #324062);">
    <div class="main-frame">        
        <div class="right-frame-otp">            
            <div class="login-frame">                
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p class="flash-Message">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <h2>OTP</h2>
                <form action="{{ url_for('validateOTP') }}" method="post">
                    <div class="textbox">
                        <input type="number" name="otp" required="required" placeholder="Enter our OTP">                        
                    </div>                    
                    <button class="button buttonLogin" type="submit">Submit</button>
                </form>
                <div class="cancel"><p>Click <a class="cancelLink" href="{{ url_for('logout') }}">here</a> to cancel.</p></div>                
            </div>
        </div>
    </div>
</body>

</html>